body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: gradientAnimation 10s infinite alternate;
}

img {
    width: 100%;
    border-radius: 8px;
    animation: moveUp 5s infinite linear;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    animation: scaleIn 1s ease-out;
    margin-left: 50px;
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    transition: color 0.3s ease-in-out;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

       /* Add some image animation */
       img {
        width: 100%;
        border-radius: 8px;
        animation: moveUp 5s infinite linear;
    }

    @keyframes moveUp {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-20px);
        }
    }

    img:hover {
        transform: scale(1.1);
    }

input:focus {
    border-color: #4caf50;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}


/* Add your common styles here */

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffeb9c);
    }
    100% {
        background: linear-gradient(45deg, #ffeb9c, #feb47b, #ff7e5f);
    }
}
